* {
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: gray;
}

p {
    margin: 0;
}

#grapeNumber {
    margin: 10px 0 0 0;
	display: inline-block;
	font-size: 49px;
	font-style: italic;
}

#side {
	display: block;
	width: 33.33%;
	height: 100%;
	background-clip: padding-box;
	border-right: solid black 2px;
    float:left; 
	background-color: white;
}

#upgrades {
    display: inline-block;
    float: left;
    width: calc(100% - 33.33% -33.34%);
    height: 100%;
    padding-left: 10px;
}

#itemsDescription {
    display: inline-block;
    height: 100%;
    width: 32%;
    float: left;
	position: relative;
	
}

#grapeButton {
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    padding: 10px;
	position: relative;
	top: 15px;
    border-radius: 50px 50px 25px 25px;
    box-shadow: 0 10px #6c8d3a;
    border: none;
    outline: none;
}

#grapeButton:hover {
    background-color: #451571;
}

#grapeButton:active {
    background-color: #451571;
    box-shadow: 0 6px #37481d;
    transform: translateY(4px);    
}


.upgradesButtons {
    font-size: 24px;
    display: block;
    padding: 10px;
    border: solid black 2px;
    float: left;
	clear: left;
	outline-style: none;
}

.inlineP {
    font-family: sans-serif;
    padding-top: 32px;
    padding-right: 20px;;
    margin: 0;
    display: inline-block;
	clear: left;
    float: left;
    font-size: 30px;
    transform: translateY(-10px);
}

#glovesCost {
    margin: 0;
}

#glovesDescription {
	visibility: hidden;
	text-align: center;
	padding: 10px 0;
	display: block;
	color: white;
	background-color: black;
	position: absolute;
	left: 100%;
	width: 50%;
}

#glovesContainer:hover #glovesDescription {
	visibility: visible;
}

#glovesContainer {
	display: block;
	position: relative;
}